h1 {
  color: blue;
  font-family: cursive;
  font-weight: lighter;
}

li {
  color: red;
  font-size: 30px;
}

body {
  color: green;
  font-size: 50px;
}

ul {
  color: black;
}

.light-background {
  background-color: lightblue;
}

.dark-background {
  background-color: RebeccaPurple;
  color: white;
}
